/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
}

header {
  font-family: sans-serif;
  align-self: flex-start;
  font-size: 2em;
  display: block;
  text-transform: uppercase;
  font-weight: 200;
  color: rgb(157, 157, 157);
  margin-left: 1em;
}

section>button {
  border: 0;
  background-color: transparent;
  border-radius:100%;
  width: 60px;
  height: 60px;
  font-size: 1.2em;
  margin: 1%;
  position: relative;
}

section>button:hover {
  cursor: pointer;
  color: rgb(75, 75, 75);
}

section>button:hover::after {
  content: attr(name);
  font-size: 0.7em;
  text-align: center;
  position: absolute;
  top: 3.5em;
  left: 1em;
}

section>button>i.material-icons {
  font-size: 30px;
}

section>button:focus {
  outline: none;
}

section {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

blockquote {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

cite {
  font-size: 2em;
  font-family: sans-serif;
  float: right;
  margin: 1em;
  font-weight: 200;
}
cite::before {
  content: "-";
}

crypto-char {
  display: inline-block;
  font-family: monospace;
  font-size: 3em;
  position: relative;
  padding: 0.1em;
  padding-bottom: 0.8em;
}

crypto-char::after {
  content: attr(cipherchar);
  position: absolute;
  top: 1.3em;
  left: 0.2em;
  font-size: 0.8em;
  color: black;
}

crypto-char.letter.selected {
  background-color: rgb(94, 160, 221);
}

crypto-char.letter {
  text-decoration: underline;
}

crypto-char.letter.hinted {
  color: rgb(152, 0, 0);
}

crypto-char.letter.given {
  color: rgb(0, 73, 184);
}

blockquote.correct, blockquote.correct>crypto-char.letter.hinted, blockquote.correct>crypto-char.letter.given {
  color:rgb(0, 175, 33);
}

crypto-char.letter:hover {
  cursor: pointer;
}

aside {
  position: absolute;
  width: 50%;
  border: 1px solid rgb(73, 73, 73);
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  font-family: sans-serif;
  z-index: 2;
}

aside>button {
  background-color: transparent;
  padding: 0.5em;
  margin: auto;
  width: 5em;
  display: block;
}

shadow {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.77);
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
}

.hidden {
  display: none;
}

.offscreen {
  position: absolute;
  top: -1000px;
}
